.coverage
*.egg-info
*.log
*.mo
*.py?
*.swp
# dirs
bin/
eggs/
.eggs/
dist/
htmlcov/
include/
lib/
lib64
local/
# files
log.html
output.xml
pip-selfcheck.json
report.html
# excludes
!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml
!src/pyzanata
